# PyMongo

**MongoDB** is a type of NoSQL Database.<br>

NoSQL simply means a non-relational database.<br>

In MongoDB, each individual records are stored as **‘documents’**.<br>

Documents belonging to a particular class or group as stored in a **‘collection’**.<br>

*MongoDB stores data in form of JSON-like documents {}*<br>

**PyMongo** is a Python distribution containing tools for working with MongoDB.

In [58]:
import pymongo
from random import randint
import datetime
import pandas as pd

## Making a Connection with MongoClient

In [3]:
#Connection
client = pymongo.MongoClient("mongodb+srv://user:<password>@cluster0.ida1zgk.mongodb.net/?retryWrites=true&w=majority")
#client = MongoClient('localhost', 27017)
#client = MongoClient('mongodb://localhost:27017/')

#Getting a DB
db = client.testdata # db = client['testdata']

#Getting a Collection
collection = db.testcoll # collection = db['testcoll']

In [5]:
# host_info = client['HOST']
# print ("host:", host_info)

## Inserting a Document
* .insert_one()
* .insert_many()

In [22]:
collection.insert_one({'_id' : 1, 
                       'num' : randint(1, 10), 
                       'date': datetime.datetime.now()})

In [13]:
in_data = { 'num': 23, 'date': datetime.datetime(2023, 3, 24), 'name': 'test_val'}

collection.insert_one(in_data)

In [14]:
# in_data = { 'num': 94, 'date': datetime.datetime(2023, 3, 23), 'name': 'val'}
# collection.insert_one(in_data)
# in_data = { 'num': 17, 'date': datetime.datetime(2023, 3, 25), 'name': 'bcd'}
# collection.insert_one(in_data)

In [30]:
data = []
for i in range(2, 11):
    data.append({'_id' : i, 
                 'num' : randint(1, 50), 
                 'date': datetime.datetime.now() + datetime.timedelta(days=i)})
collection.insert_many(data)

#### Return the _id Field

In [6]:
#x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
#print(x.inserted_ids)

## Counting

In [35]:
#by id
collection.count_documents({'_id' : 1})

1

In [36]:
collection.count_documents({'_id' : 12})

0

In [37]:
collection.count_documents({})

10

## Find
#### Getting a Single Document

In [39]:
collection.find_one({'_id':5})['date']

datetime.datetime(2023, 3, 29, 12, 23, 46, 674000)

#### Find All

In [54]:
query={'num':7}
for i in collection.find(query):
    print(i)

{'_id': 1, 'num': 7, 'date': datetime.datetime(2023, 3, 24, 12, 14, 16, 145000)}
{'_id': 3, 'num': 7, 'date': datetime.datetime(2023, 3, 27, 12, 23, 46, 674000)}

#### Return Only Some Fields
0 - false<br> 
1 - true<br>
0 - only id

In [55]:
query={'num':7}
for i in collection.find(query, {'_id':0, 'num': 1}):
    print(i)

{'num': 7}
{'num': 7}

## Update Collection
* .update_one()
* .update_many()

In [7]:
up_data = []
for i in range(1, 11):
    up_data.append(f'test{i}{randint(1, 1000)}')

In [11]:
for j in range(1, 11):
    collection.update_one({'_id' : j}, {'$set': {'name' : up_data[j-1]}})

In [43]:
# collection.update_one({'_id' : 10}, {'$set': {'arr_field' : ['abc1', '2def']}})

In [43]:
for j in range(1, 11):
    if j % 2 == 0:
        collection.update_one({'_id' : j}, {'$set': {'name' : up_data[j-1].upper()}})

In [15]:
for i in collection.find():
    print(i)

{'_id': 1, 'num': 7, 'date': datetime.datetime(2023, 3, 24, 12, 14, 16, 145000), 'name': 'test1774'}
{'_id': 9, 'num': 12, 'date': datetime.datetime(2023, 4, 2, 12, 23, 46, 674000), 'name': 'test9872'}
{'_id': 4, 'num': 31, 'date': datetime.datetime(2023, 3, 28, 12, 23, 46, 674000), 'name': 'TEST4929'}
{'_id': 10, 'num': 40, 'date': datetime.datetime(2023, 4, 3, 12, 23, 46, 674000), 'name': 'TEST1081'}
{'_id': 8, 'num': 47, 'date': datetime.datetime(2023, 4, 1, 12, 23, 46, 674000), 'name': 'TEST8745'}
{'_id': 7, 'num': 4, 'date': datetime.datetime(2023, 3, 31, 12, 23, 46, 674000), 'name': 'test7534'}
{'_id': 3, 'num': 7, 'date': datetime.datetime(2023, 3, 27, 12, 23, 46, 674000), 'name': 'test3895'}
{'_id': 6, 'num': 23, 'date': datetime.datetime(2023, 3, 30, 12, 23, 46, 674000), 'name': 'TEST6220'}
{'_id': 2, 'num': 26, 'date': datetime.datetime(2023, 3, 26, 12, 23, 46, 674000), 'name': 'TEST2640'}
{'_id': 5, 'num': 34, 'date': datetime.datetime(2023, 3, 29, 12, 23, 46, 674000), 'name': 'test5154'}
{'_id': ObjectId('641d8ce08f3a7e46b902631a'), 'num': 23, 'date': datetime.datetime(2023, 3, 24, 0, 0), 'name': 'test_val'}
{'_id': ObjectId('6426bd99b73ccfa0a38d9a23'), 'num': 94, 'date': datetime.datetime(2023, 3, 23, 0, 0), 'name': 'val'}
{'_id': ObjectId('6426c33ab73ccfa0a38d9a24'), 'num': 17, 'date': datetime.datetime(2023, 3, 25, 0, 0), 'name': 'bcd'}

In [9]:
def show_coll(coll_line):
    for val in coll_line:
        print(val)

#### Operators
##### inc

In [40]:
show_coll(collection.find( { 'num': {'$lt' : 10}} ))

{'_id': 7, 'num': 4, 'date': datetime.datetime(2023, 3, 31, 12, 23, 46, 674000), 'name': 'test7534'}

In [41]:
collection.update_one({'num' : 4}, {'$inc': {'num' : +3}})
show_coll(collection.find( { 'num': {'$lt' : 10}} ))

{'_id': 7, 'num': 7, 'date': datetime.datetime(2023, 3, 31, 12, 23, 46, 674000), 'name': 'test7534'}

##### push

In [45]:
show_coll(collection.find( {'_id' : 10}, {'date': 0, 'name':0} ))

{'_id': 10, 'num': 40, 'arr_field': ['abc1', '2def']}

In [46]:
collection.update_one({'_id' : 10}, {'$push': {'arr_field' : 'a1b2c'}})

In [47]:
show_coll(collection.find( {'_id' : 10}, {'date': 0, 'name':0} ))

{'_id': 10, 'num': 40, 'arr_field': ['abc1', '2def', 'a1b2c']}

##### pop

In [48]:
collection.update_one({'_id' : 10}, {'$pop': {'arr_field' : -1}})
show_coll(collection.find( {'_id' : 10}, {'date': 0, 'name':0} ))

{'_id': 10, 'num': 40, 'arr_field': ['2def', 'a1b2c']}

* pull

In [49]:
collection.update_one({'_id' : 10}, {'$pull': {'arr_field' : '2def'}})
show_coll(collection.find( {'_id' : 10}, {'date': 0, 'name':0} ))

{'_id': 10, 'num': 40, 'arr_field': ['a1b2c']}

##### unset

In [50]:
collection.update_one({'_id' : 10}, {'$unset': {'arr_field' : 'a1b2c'}})
show_coll(collection.find( {'_id' : 10}, {'date': 0, 'name':0} ))

{'_id': 10, 'num': 40}

## Filter the Result

* $in (matches any of the values in an array)

* $lt (less than)

* $gt (greater than, field starts with the letter "X" or higher (alphabetically))

* AND Operator (Both the Conditions should be satisfied)

* OR Operator (Either of the condition should satisfy)

In [12]:
show_coll(collection.find( { 'name': {'$gt': 'v'} } ))

{'_id': ObjectId('6426bd99b73ccfa0a38d9a23'), 'num': 94, 'date': datetime.datetime(2023, 3, 23, 0, 0), 'name': 'val'}

In [25]:
show_coll(collection.find( { 'num': {'$lt': 20} } ))

{'_id': 1, 'num': 7, 'date': datetime.datetime(2023, 3, 24, 12, 14, 16, 145000), 'name': 'test1774'}
{'_id': 9, 'num': 12, 'date': datetime.datetime(2023, 4, 2, 12, 23, 46, 674000), 'name': 'test9872'}
{'_id': 7, 'num': 4, 'date': datetime.datetime(2023, 3, 31, 12, 23, 46, 674000), 'name': 'test7534'}
{'_id': 3, 'num': 7, 'date': datetime.datetime(2023, 3, 27, 12, 23, 46, 674000), 'name': 'test3895'}
{'_id': ObjectId('6426c33ab73ccfa0a38d9a24'), 'num': 17, 'date': datetime.datetime(2023, 3, 25, 0, 0), 'name': 'bcd'}

In [24]:
show_coll(collection.find( { 'name': {'$in': ['TEST4929', 'TEST1081']} } ))

{'_id': 4, 'num': 31, 'date': datetime.datetime(2023, 3, 28, 12, 23, 46, 674000), 'name': 'TEST4929'}
{'_id': 10, 'num': 40, 'date': datetime.datetime(2023, 4, 3, 12, 23, 46, 674000), 'name': 'TEST1081'}

In [27]:
show_coll(collection.find( { '$and': [{'num': {'$gt': 30} },
                                     {'name': {'$lt': 'a'}}]} ))

{'_id': 4, 'num': 31, 'date': datetime.datetime(2023, 3, 28, 12, 23, 46, 674000), 'name': 'TEST4929'}
{'_id': 10, 'num': 40, 'date': datetime.datetime(2023, 4, 3, 12, 23, 46, 674000), 'name': 'TEST1081'}
{'_id': 8, 'num': 47, 'date': datetime.datetime(2023, 4, 1, 12, 23, 46, 674000), 'name': 'TEST8745'}

#### Regular expressions

In [45]:
show_coll(collection.find( { 'name': {'$regex': 'test1.'} } ))

{'_id': 1, 'num': 7, 'date': datetime.datetime(2023, 3, 24, 12, 14, 16, 145000), 'name': 'test1774'}

In [52]:
show_coll(collection.find( { 'name': {'$regex': 'test.*'} } ))

{'_id': 1, 'num': 7, 'date': datetime.datetime(2023, 3, 24, 12, 14, 16, 145000), 'name': 'test1774'}
{'_id': 3, 'num': 7, 'date': datetime.datetime(2023, 3, 27, 12, 23, 46, 674000), 'name': 'test3895'}
{'_id': 5, 'num': 34, 'date': datetime.datetime(2023, 3, 29, 12, 23, 46, 674000), 'name': 'test5154'}
{'_id': 7, 'num': 4, 'date': datetime.datetime(2023, 3, 31, 12, 23, 46, 674000), 'name': 'test7534'}
{'_id': 9, 'num': 12, 'date': datetime.datetime(2023, 4, 2, 12, 23, 46, 674000), 'name': 'test9872'}
{'_id': ObjectId('641d8ce08f3a7e46b902631a'), 'num': 23, 'date': datetime.datetime(2023, 3, 24, 0, 0), 'name': 'test_val'}

In [57]:
show_coll(collection.find( { 'name': {'$regex': '4$'} } ))

{'_id': 1, 'num': 7, 'date': datetime.datetime(2023, 3, 24, 12, 14, 16, 145000), 'name': 'test1774'}
{'_id': 5, 'num': 34, 'date': datetime.datetime(2023, 3, 29, 12, 23, 46, 674000), 'name': 'test5154'}
{'_id': 7, 'num': 4, 'date': datetime.datetime(2023, 3, 31, 12, 23, 46, 674000), 'name': 'test7534'}

In [35]:
show_coll(collection.find( { 'name': {'$regex': '^T'} } ))

{'_id': 4, 'num': 31, 'date': datetime.datetime(2023, 3, 28, 12, 23, 46, 674000), 'name': 'TEST4929'}
{'_id': 10, 'num': 40, 'date': datetime.datetime(2023, 4, 3, 12, 23, 46, 674000), 'name': 'TEST1081'}
{'_id': 8, 'num': 47, 'date': datetime.datetime(2023, 4, 1, 12, 23, 46, 674000), 'name': 'TEST8745'}
{'_id': 6, 'num': 23, 'date': datetime.datetime(2023, 3, 30, 12, 23, 46, 674000), 'name': 'TEST6220'}
{'_id': 2, 'num': 26, 'date': datetime.datetime(2023, 3, 26, 12, 23, 46, 674000), 'name': 'TEST2640'}

In [76]:
show_coll(collection.find( { 'name': {'$regex': 'val$'} } ))

{'_id': ObjectId('641d8ce08f3a7e46b902631a'), 'num': 23, 'date': datetime.datetime(2023, 3, 24, 0, 0), 'name': 'test_val'}

In [77]:
show_coll(collection.find( { 'name': {'$regex': '.*9'} } ))

{'_id': 3, 'num': 7, 'date': datetime.datetime(2023, 3, 27, 12, 23, 46, 674000), 'name': 'test3895'}
{'_id': 4, 'num': 31, 'date': datetime.datetime(2023, 3, 28, 12, 23, 46, 674000), 'name': 'TEST4929'}
{'_id': 9, 'num': 12, 'date': datetime.datetime(2023, 4, 2, 12, 23, 46, 674000), 'name': 'test9872'}

## Sort the Result

In [29]:
show_coll(collection.find( { 'name': {'$regex': '.*9'} } ).sort('num'))
#  Sort the result reverse alphabetically: .sort('num', -1)

{'_id': 3, 'num': 7, 'date': datetime.datetime(2023, 3, 27, 12, 23, 46, 674000), 'name': 'test3895'}
{'_id': 9, 'num': 12, 'date': datetime.datetime(2023, 4, 2, 12, 23, 46, 674000), 'name': 'test9872'}
{'_id': 4, 'num': 31, 'date': datetime.datetime(2023, 3, 28, 12, 23, 46, 674000), 'name': 'TEST4929'}

## Limit the Result

In [37]:
show_coll(collection.find({}).limit(3))

{'_id': 9, 'num': 12, 'date': datetime.datetime(2023, 4, 2, 12, 23, 46, 674000), 'name': 'test9872'}
{'_id': 4, 'num': 31, 'date': datetime.datetime(2023, 3, 28, 12, 23, 46, 674000), 'name': 'TEST4929'}
{'_id': 10, 'num': 40, 'date': datetime.datetime(2023, 4, 3, 12, 23, 46, 674000), 'name': 'TEST1081'}

## Delete Document
* .delete_one()
* .delete_one()

In [34]:
query = collection.delete_one( { 'name': {'$regex': 'test1.'}})
query.deleted_count

1

In [30]:
# Delete all documents in the "testcoll" collection : 
# query = collection.delete_many({})

#### Delete Collection

In [36]:
# collection.drop()

## Indexing

In [54]:
collection.create_index([('num_ind', pymongo.DESCENDING)])
print(collection.index_information())

{'_id_': {'v': 2, 'key': [('_id', 1)]}, 'num_ind_-1': {'v': 2, 'key': [('num_ind', -1)]}}

In [55]:
collection.create_index([('num', pymongo.ASCENDING)], unique=True)
print(collection.index_information())

{'_id_': {'v': 2, 'key': [('_id', 1)]}, 'num_ind_-1': {'v': 2, 'key': [('num_ind', -1)]}, 'num_1': {'v': 2, 'key': [('num', 1)], 'unique': True}}

#### Drop

In [57]:
collection.drop_index('num_ind_-1')
print(collection.index_information())

{'_id_': {'v': 2, 'key': [('_id', 1)]}, 'num_1': {'v': 2, 'key': [('num', 1)], 'unique': True}}

## DataFrame using Pandas for our MongoDB

In [61]:
df_coll = pd.DataFrame(list(collection.find({})))
df_coll.head()

  _id  num                    date      name
0   9   12 2023-04-02 12:23:46.674  test9872
1   4   31 2023-03-28 12:23:46.674  TEST4929
2  10   40 2023-04-03 12:23:46.674  TEST1081
3   8   47 2023-04-01 12:23:46.674  TEST8745
4   7    7 2023-03-31 12:23:46.674  test7534